* {
  box-sizing: border-box;
}

body {
  background: #000000; 
  color: white; 
  font-family: 'Segoe UI', system-ui, sans-serif; 
  margin: 0; 
  padding: 20px; 
  height: 100vh; /* Exactly 100% of the screen height */
  width: 100vw;  /* Exactly 100% of the screen width */
  overflow: hidden; /* Stops the main page from scrolling */
  display: flex; 
  flex-direction: column; 
  gap: 20px; 
}

.appContainer {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  min-width: 100vh;
}

.sidebarContainer {
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 10%;
    /* justify-content: space-between; */
  align-items: center;
  border-left: 1px solid #30363d;
  padding-left: 10px;
  margin-left: 15px;
}

.sidebarTabs {
  /* background-color: gray; */
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mainContainer {
  background-color: black;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  min-width: 90%;
}

.headerContainer {
  color: #58a6ff;
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #30363d;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.contentContainer {
  background-color: cadetblue;
}

